<!DOCTYPE html>
<html lang="de">



<head>
    <title>Sitzreservation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<link rel="icon" href="/static/img/icon.png"></link>

<link href="/static/css/bootstrap.min.css" rel="stylesheet" async defer></link>
<link href="/static/css/style.css" rel="stylesheet" async defer></link>



<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Sitzreservation</a>
            </div>
            <ul class="nav navbar-nav navbar pull-right">
                <li>
                    <a>
                        <button type="button" id="continueButton" disabled
                        class="flowButtons btn btn-primary hidden" data-toggle="modal" data-target="#myModal">
                        Weiter
                    </button>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li>
                <a>
                    <button type="button" id="returnButton"
                    class="flowButtons btn btn-secondary hidden">
                    Datum
                </button>
            </a>
        </li>
    </ul>
</div>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id = "seatResume">
                </div>
                <!--<form action="reserved" method="post">{% csrf_token %}-->
                    <div class="form-group">
                        <label for="emailField" id="emailLabel">Email Adresse</label>
                        <div id="emailErrorField"></div>
                        <input required type="email" class="form-control"
                            id="emailField" aria-describedby="emailHelp"
                            placeholder="z.b. lemarc.erbigthölsrer@terbertlam.hc"
                            required
                            >
                        </input>
                        <small id="emailHelp" class="form-text text-muted">
                            Wird ausschliesslich zum Zwecke der Bestätigung der Reservation verwendet.
                        </small>
                    </div>
                    <button
                        type="submit" class="btn btn-primary pull-right"
                        onclick="submitReservationRequest()" data-toggle="modal"
                        data-target="#myModal">
                        Abschliessen
                    </button>
                    <button
                        type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                        Abbrechen
                    </button>
                <!--</form>-->
            </div>
        </div>
    </div>
</div>


<div class = "container-fluid" id ="contentDiv">
    <noscript>
    <div style="width: 100%; text-align: center; font-size: 24px;">
    Javascript deaktiviert oder Sie sind offline. <br>
    Diese seite funktioniert derzeit nur mit Javascript.
    Mehr Informationen dazu (Englisch): <br>
    <a href="http://www.enable-javascript.com/">www.enable-javascript.com</a>
    <div>
    </noscript>
</div>

</body>

<script src="/static/js/jquery.min.js" ></script>
<script src='/static/js/cookies.min.js'></script>
<script src='/static/js/index.js' async defer></script>
<script src="/static/js/bootstrap.min.js" async defer></script>
<!--<script src='https://www.google.com/recaptcha/api.js' async defer></script>-->



<script>


</script>
