    <div class = "row">
        <div class = "col-md-1 col-lg-3 col-xl-4">
        </div>
        <div class = "col-md-10 col-sm-12 col-lg-6 col-xl-4" id="svgColumn">
            <div id="dateInfo">Lade Reservationen...</div>
            <svg id = "svgCanvas" version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="100%" height="80vh">

            <style>
            .reserved {
                fill: #4f4f4f;
            }
            .reserved:hover {
                fill: #343232;
            }
            .free {
                fill: #61b444;
            }
            .selected {
                fill: #ee3a3a;
            }
            .selected:hover {
                fill: #b92d2d;
            }
            .free:hover {
                fill: #4d8f36;
            }
            </style>

        </svg>
    </div>
    <div class = "col-md-1 col-lg-3 col-xl-4">
    </div>
</div>
